ul.cards
  li.card.ovtza
    img(src='../img/card.jpg' srcset='' alt='Настольная игра Толмач-игральная карточка') 
  li.card.gavaon
    img(src='../img/card2.jpg' srcset='' alt='Настольная игра Толмач-игральная карточка')
  li.card.pyka
    img(src='../img/card3.jpg' srcset='' alt='Настольная игра Толмач-игральная карточка') 
  li.card.card--current.babel
    img(src='../img/card1.jpg' srcset='' alt='Настольная игра Толмач-игральная карточка')
