header.header
  .header-content
    a(href='#home').side-nav__nav-button.home
    nav.side-nav
      a(href='#description').side-nav__nav-button.description
      a(href='#hallmark').side-nav__nav-button.hallmark
      a(href='#card-anatomy').side-nav__nav-button.card-anatomy
      a(href='#purchase').side-nav__nav-button.purchase
        
