head
  meta(charset="UTF-8")
  meta(name="format-detection", content="telephone=no")
  meta(name="description", content="ТолмачЪ - христианская настольная игра основаная на Библии. Лучший вариант для времяпрепровожденния семьёй, молодежью, и просто хорошей компанией")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title ТолмачЪ - христианская настольная игра
  link(rel="icon" type="image/png" href="/favicon.ico")
  link(rel="stylesheet", href="css/main.min.css")
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Vollkorn+SC&display=swap" rel="stylesheet")