.purcase-card
  .purcase-card__inner
    p.text Можете заказать по электронной почте 
    .purchase-link
      span.gmail
      a(href='') tolmach.game@gmail.com
    p.text ...или на наших страницах в соц.сетях 
    .purchase-link
      span.facebook
      a(href='https://www.facebook.com/TolmachGame') @TolmachGame
    .purchase-link
      span.instagram
      a(href='https://www.instagram.com/tolmach.game/') @tolmach.game
